
.navbar{
    
    color:white!important;
    align-content: center!important;
}

.five-days{

    display: inline;
}
 
.uv-index{
    padding-right: 15px;
    border-radius: 5px;
    background-color: orangered;
    display:inline-block;

}

.col-sm-4{
    background: fixed;
    background-color: lightgray;
    padding-bottom: 30%;
      
}
 .col-2{
    color: white;
    text-align: center;
     
} 
 
.container{
    margin: 0px;
    width: 100%;
    padding-bottom: 100%;
      
}

#seacrh-city{
    padding-bottom: 5Px;
    padding-left: 15px;
    background: royalblue;

}
#search{
   font-size: large; 
   text-align: center!important;
   color: white;

}
input[type=text]{

    padding-left: 30%;
    padding-bottom: 5Px; 
}

.city{
    margin-top:5px;
}
  
   
 